<div
  class="modal fade"
  id="modelId"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content form-container">
      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/users/login" method="POST">
          <div class="form-group">
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Email"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Password"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Login
          </button>
        </form>
        <p class="lead mt-4">
          No Account? <a href="/users/register">Register</a>
        </p>
      </div>
    </div>
  </div>
</div>
