<div>
  <form action="/search" method="GET">
    <div class="input-group col-md-6 mx-auto pt-3">
      <input
        type="text"
        class="form-control"
        name="query"
        id="name"
        placeholder="Search articles"
      />

      <div class="input-group-btn px-2">
        <input class="btn btn-dark" type="submit" value="Search" />
      </div>
    </div>
  </form>
  <% if(results.length == 0){%>
    <h1 class="display-3 text-center mt-4">No results..Try searching something else</h1>
  <% } %>
  <% results.forEach(function(result){%> <%- include
  ('./partials/tile',{title:result.title, authorName:result.authorName,
  articleId: result._id, date: result.date}); -%> <%});%>
</div>
